/*  ESTRUCTURA CSS
selector{
    propiedades
}
Tipo de selectores:

-etiquetas
-class ----> punto y el nombre de la clase
-id -> # + nombredelId

Colores : 

- Armados por CSS
- Hexadecimal -> 0 a 9 o A-F

*/
body{
    background-color: #000000;
}
.unTexto{
    background-color: gray;
    color: white;
    width: 25%;
    height: 40vh; /*viewheigt*/
}
button{
    background-color: brown;
}
#botonRaro{
    background-color:aquamarine ;
}
h1{
    color: #ff7675;
}
.bordeAzul{
    border: blue 2px dotted;
}
/*daa sdasfasfdasf*/